h1
{
font-family: calibri;
font-size: 30px;
font-style: normal;
font-weight: bold;
color: #FFFF00;
text-decoration: underline;
text-align: center;
text-transform: uppercase;
text-indent: 50px; 
text-shadow:2px 2px #ff0000;
}
p
{
font-family: verdana;
font-size: 20px;
font-style: italic;
}